.handclap {
    animation: RoundOfApplause 5s linear infinite;
}
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

@keyframes RoundOfApplause {
    from { transform: rotate(0deg) translateX(150px) rotate(0deg); }
    to   { transform: rotate(360deg) translateX(150px) rotate(-360deg); }
}
